In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

from constants import SPATIAL, MORPHOLOGICAL, TEMPORAL

In [2]:
PATH = 'clustersData_no_light/0'

In [3]:
df = None
files = os.listdir(PATH)
for file in sorted(files):
    if df is None:
        df = pd.read_csv(PATH + '/' + file)
    else:
        temp = pd.read_csv(PATH + '/' + file)
        df = df.append(temp)

In [4]:
df.label = df.label.map({1: 'PYR', 0: 'IN', -1: 'UT', -3: 'UT'})
pd.value_counts(df.label)

UT     428
PYR    411
IN     101
Name: label, dtype: int64

In [5]:
df = df.loc[df.label != 'UT']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 0 to 0
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   dep_red                   512 non-null    float64
 1   dep_sd                    512 non-null    float64
 2   graph_avg_speed           512 non-null    float64
 3   graph_slowest_path        512 non-null    float64
 4   graph_fastest_path        512 non-null    float64
 5   geometrical_avg_shift     512 non-null    float64
 6   geometrical_shift_sd      512 non-null    float64
 7   geometrical_max_dist      512 non-null    float64
 8   spatial_dispersion_count  512 non-null    float64
 9   spatial_dispersion_sd     512 non-null    float64
 10  da                        512 non-null    float64
 11  da_sd                     512 non-null    float64
 12  Channels contrast         512 non-null    float64
 13  break_measure             512 non-null    float64
 14  fwhm                      512 non-null    float64
 15  get_acc                   512 non-null    float64
 16  max_speed                 512 non-null    float64
 17  peak2peak                 512 non-null    float64
 18  trough2peak               512 non-null    float64
 19  rise_coef                 512 non-null    float64
 20  smile_cry                 512 non-null    float64
 21  d_kl                      512 non-null    float64
 22  jump                      512 non-null    float64
 23  psd_center                512 non-null    float64
 24  der_psd_center            512 non-null    float64
 25  rise_time                 512 non-null    float64
 26  unif_dist                 512 non-null    float64
 27  num_spikes                512 non-null    float64
 28  max_abs                   512 non-null    float64
 29  name                      512 non-null    object
 30  region                    512 non-null    float64
 31  label                     512 non-null    object
dtypes: float64(30), object(2)
memory usage: 132.0+ KB

In [7]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
df.describe()

          dep_red      dep_sd  graph_avg_speed  graph_slowest_path  graph_fastest_path  geometrical_avg_shift  geometrical_shift_sd  geometrical_max_dist  spatial_dispersion_count  spatial_dispersion_sd           da       da_sd  Channels contrast  break_measure        fwhm     get_acc   max_speed    peak2peak  trough2peak   rise_coef   smile_cry        d_kl        jump  psd_center  der_psd_center   rise_time   unif_dist     num_spikes      max_abs      region
count  512.000000  512.000000       512.000000          512.000000          512.000000             512.000000            512.000000            512.000000                512.000000             512.000000   512.000000  512.000000         512.000000     512.000000  512.000000  512.000000  512.000000   512.000000   512.000000  512.000000  512.000000  512.000000  512.000000  512.000000      512.000000  512.000000  512.000000     512.000000   512.000000  512.000000
mean    21.803009    2.507520        18.601810           10.094991           51.696606               0.453418              1.010770            151.517670                  2.314453               0.302829   918.578125    1.181696           1.960320   -1876.429499   33.128906   61.399221   33.269531  2031.474368   106.763672   45.914062   -9.061169    0.194291   96.358087  161.601120      151.372266  220.779297    0.107306   33719.089844  1430.961187    0.890625
std     46.128296    2.256614        13.864286            8.731687           49.059030               0.174594              0.818047             45.280159                  1.243671               0.038950   382.704939    0.196372          11.069727    1128.699245    5.421832   29.154523   18.636433  1038.923783    29.719379   10.760351    8.381140    0.069385   52.048556  124.464234      129.938095   85.372742    0.058999   76752.212846   730.250655    0.380223
min      0.000000    0.000000         0.000000            0.000000            0.000000               0.064715              0.056290             51.911913                  1.000000               0.174488   182.000000    0.521978           0.000000   -7607.939196   20.000000  -14.540114    6.000000   334.829719    30.000000   13.000000  -76.304510    0.099805  -29.902822   32.267586       11.586918   91.000000    0.006077     650.000000   278.847539    0.000000
25%      2.000000    1.027569         8.214304            4.565403           14.090783               0.331126              0.563234            118.694303                  1.000000               0.277728   678.500000    1.061695           0.000000   -2412.141217   30.000000   38.301360   22.000000  1291.041881   109.750000   39.000000  -11.638335    0.145425   59.238831   84.010035       58.222787  155.750000    0.056410    5218.500000   902.975067    1.000000
50%      6.000000    1.885618        16.616266            7.717513           40.199502               0.446932              0.913715            147.458629                  2.000000               0.298872   877.000000    1.200522           0.000000   -1645.447355   33.000000   57.834915   27.000000  1780.191300   123.000000   44.000000   -7.633201    0.175641   92.347439  111.344672      101.733898  194.000000    0.111254   10300.000000  1220.146160    1.000000
75%     21.525000    3.255236        26.237980           13.399834           75.543545               0.561780              1.210501            184.356876                  3.000000               0.327975  1066.000000    1.315867           0.000000   -1072.221167   37.000000   84.233522   38.000000  2551.530652   123.000000   50.000000   -4.865793    0.225673  133.041787  181.980304      199.796176  282.000000    0.148753   22194.750000  1739.638815    1.000000
max    544.500000   16.500000       100.978481           80.894994          262.628207               1.126101              7.527092            269.883547                  7.000000               0.419176  2740.000000    1.668220         132.284575     158.323707   56.000000  143.684327  123.000000  6735.604420   124.000000   93.000000   11.097237    0.535134  238.522984  581.468225      594.140471  536.000000    0.312657  762368.000000  4713.254389    4.000000

In [8]:
df.region = df.region.map({0: 'neo cortex', 1: 'CA1 pyramidal layer', 3: 'CA3', 4: 'CA1 oriens'})
pd.value_counts(df.region)

CA1 pyramidal layer    446
neo cortex              63
CA3                      2
CA1 oriens               1
Name: region, dtype: int64

In [9]:
pd.crosstab(df['region'], df['label'])

label                IN  PYR
region
CA1 oriens            1    0
CA1 pyramidal layer  69  377
CA3                   2    0
neo cortex           29   34

In [10]:
PATH = 'clustersData_no_light/200'

In [11]:
df = None
files = os.listdir(PATH)
for file in sorted(files):
    if df is None:
        df = pd.read_csv(PATH + '/' + file)
    else:
        temp = pd.read_csv(PATH + '/' + file)
        df = df.append(temp)

In [12]:
df.label = df.label.map({1: 'PYR', 0: 'IN', -1: 'UT', -3: 'UT'})
pd.value_counts(df.label)

IN     58018
PYR    28058
UT     27838
Name: label, dtype: int64