In [1]:
import pandas as pd

In [2]:
path = 'light_stats_new.csv'
mapping = {-3: 'both', -1: 'untagged', 0: 'IN', 1: 'PYR'}

In [3]:
df = pd.read_csv(path, index_col=0)

In [4]:
df['time_prop'] = 1 / df['time_prop']
df = df.replace({"label": mapping})

In [5]:
df

       recording  shank    id     label  spike_prop  time_prop
0    es25nov11_3    1.0  17.0       PYR    0.971119   0.065139
1    es25nov11_3    1.0  35.0       PYR    0.975823   0.076709
2    es25nov11_3    1.0  34.0       PYR    0.935840   0.068033
3    es25nov11_3    1.0  27.0  untagged    0.980250   0.065238
4    es25nov11_3    1.0   2.0  untagged    0.964312   0.065163
..           ...    ...   ...       ...         ...        ...
935    m649r1_22    4.0  19.0       PYR    0.958927   0.274891
936    m649r1_22    4.0   6.0       PYR    0.969494   0.274800
937    m649r1_22    4.0  21.0       PYR    0.982117   0.274733
938    m649r1_22    4.0   5.0  untagged    0.961407   0.274839
939    m649r1_22    4.0  22.0       PYR    0.972108   0.275493

[940 rows x 6 columns]

In [6]:
grouped = df.drop(columns=['shank', 'id']).groupby(by=['label'])

In [7]:
grouped.mean()

          spike_prop  time_prop
label
IN          0.699392   0.641847
PYR         0.842654   0.345433
both        0.922561   0.589139
untagged    0.825053   0.382407

In [8]:
grouped.std()

          spike_prop  time_prop
label
IN          0.190561   1.777928
PYR         0.141884   0.301930
both        0.072105   0.751849
untagged    0.136010   0.658182